<!DOCTYPE html>
<html ng-app="agendaApp">
<head>
	<title>Avaliação AngularJS - CISS</title>
	<meta charset="utf8" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/agendaApp.js"></script>
	<script type="text/javascript" src="js/controller/agendaController.js"></script>
</head>
<body ng-controller="AgendaCtrl">
	<div class="container">
		<div class="jumbotron">
			<div class="row">
  				<form class="col-md-4">
  					<div class="col-xs-12">
  						<h3 ng-bind="'Cadastrar'" ng-show="!clicouEditar"></h3>
  						<h3 ng-bind="'Editar'" ng-show="clicouEditar"></h3>
  					</div>
  					<div class="form-group col-xs-12">
						<label for="name">Nome</label>
						<input type="text" class="form-control" id="name" ng-model="agenda.name" maxlength="30" required>
					</div>
					<div class="form-group col-xs-12">
						<label for="email">E-mail</label>
						<input type="email" class="form-control" id="email" ng-model="agenda.email" maxlength="40">
					</div>
					<div class="form-group col-xs-12">
						<label for="phone">Tefefone</label>
						<input type="number" class="form-control" id="phone" ng-model="agenda.phone" max="99999999999">
					</div>
					<div class="col-xs-12" ng-show="!clicouEditar">
						<input type="submit" class="btn btn-primary pull-right" ng-click="adicionarAgenda(agenda)" value="Adicionar">
					</div>
					<div class="col-xs-12" ng-show="clicouEditar">
						<input type="submit" class="btn btn-danger pull-right" style="margin-left: 5px" ng-click="cancelarEditarAgenda()" value="Cancelar">
						<input type="submit" class="btn btn-primary pull-right" ng-click="editarAgenda(agenda)" value="Salvar">
					</div>
					<div class="col-xs-12" style="margin-top: 10px; font-size: 16px;" ng-hide="!clicouEditar">
						<span class="label label-warning">Aviso: os dados são salvo automáticamente</span>
					</div>
  				</form>
				<div class="col-md-8">
					<div class="table-responsive" style="height: 400px;">
						<table class="table">
							<thead>
								<tr>
									<th>Nome</th>
									<th>E-mail</th>
									<th>Telefone</th>
									<th>Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in list">
									<td ng-bind="item.name"></td>
									<td ng-bind="item.email"></td>
									<td ng-bind="item.phone"></td>
									<td>
										<button class="btn btn-danger" ng-click="removerAgenda($index)"><i class="glyphicon glyphicon-trash"></i></button>
										<button class="btn btn-success" ng-click="atualizarCadastro($index)"><i class="glyphicon glyphicon-pencil"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>